<footer class="footer">
    <div class="footer__inner">
        <span class="footer__logo">Slope</span>
        <p class="footer__copy">&copy; <span id="year"></span> {{ 'footer.copyright' | trans({}, 'messages') }}</p>
        <div class="footer__links">
            <a href="#">{{ 'footer.privacy' | trans({}, 'messages') }}</a>
            <a href="#">{{ 'footer.terms' | trans({}, 'messages') }}</a>
        </div>
        <div class="footer__social" aria-label="Social links">
            <a href="#" aria-label="{{ 'social.instagram' | trans({}, 'messages') }}">IG</a>
            <a href="#" aria-label="{{ 'social.linkedin' | trans({}, 'messages') }}">IN</a>
            <a href="#" aria-label="{{ 'social.pinterest' | trans({}, 'messages') }}">PT</a>
        </div>
    </div>
</footer>
